.slate, .stackframe, .controlboard {
  border: 1px solid blue; 
}

.slate {
  height: 90vh;
  width: 80vw;
}

.stackframe, .controlboard, .instructions {
  width: 15vw;
}

.stackframe {
  height: 70vh;
}

.instructions {
  height: 5vh;
}

.controlboard {
  height: 15vh;
}

.statusbar {
  height: 5vh;
  width: 95vw;
}

table, th, td {
  border: 1px solid black;
  padding: 0px;
}

table { 
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
